Feature: Test Feature

  Scenario: Test Scenario
    Given a table
      | vegetable | codename |
      | Asparagus | Alpha    |
      | Broccoli  | Bravo    |
      | Carrot    | Charlie  |
    Then my tests pass


  Scenario Outline: Test Scenario Outline
    Given <vegetable> and <fruit>
    Then I expect <codename>

    Examples:
      | vegetable | fruit  | codename |
      | Asparagus | Apple  | Alpha    |
      | Broccoli  | Banana | Bravo    |
      | Carrot    | Cherry | Charlie  |
