Feature: Test Feature

  Scenario: Test Scenario
    Given a table
      | VEGETABLE | CODE NAME |
      | Asparagus | Alpha     |
      | Broccoli  | Bravo     |
      | Carrot    | Charlie   |
    Then my tests pass


  Scenario Outline: Test Scenario Outline
    Given <VEGETABLE> and <FRUIT>
    Then I expect <CODE NAME>

    Examples:
      | VEGETABLE | FRUIT  | CODE NAME |
      | Asparagus | Apple  | Alpha     |
      | Broccoli  | Banana | Bravo     |
      | Carrot    | Cherry | Charlie   |
