Feature: Test Feature

  Scenario: Test Scenario
    Given a table
      | vegetable | code name |
      | Asparagus | Alpha     |
      | Broccoli  | Bravo     |
      | Carrot    | Charlie   |
    Then my tests pass


  Scenario Outline: Test Scenario Outline
    Given <vegetable> and <fruit>
    Then I expect <code name>

    Examples:
      | vegetable | fruit  | code name |
      | Asparagus | Apple  | Alpha     |
      | Broccoli  | Banana | Bravo     |
      | Carrot    | Cherry | Charlie   |
